<div *ngFor="let filter of filters$ | async; trackBy: filterIdentityFn">
     <div [ngSwitch]="filter.id">
       <div *ngSwitchCase="FILTERS.SEARCH_BY_NAME_FILTER_ID">
         Search by name filter
         <input [formControl]="searchByNameControl"/>
       </div>
       <div *ngSwitchCase="FILTERS.SEARCH_FILTER_ID">
         General search filter
         <input [formControl]="searchFilterControl"/>
       </div>
       <div *ngSwitchCase="FILTERS.STATE_FILTER_ID">
         State filter
         <nz-checkbox-group [formControl]="searchByStateControl"></nz-checkbox-group>
       </div>
     </div>
</div>
